<section>
    <div class="container my-5">
       <h1 class="text-main">Regisrer Form</h1>
   
       <form action="" [formGroup]="resetForm" (ngSubmit)="resetSubmit(resetForm)">
           <div class="row gy-4">
               <div class="col-md-8 m-auto bg-light shadow p-5 my-5">
                 
                   <div class="col-md-12">
                       <label for="user-email" class="fw-bold">Email</label>
                       <input formControlName="email" type="email" id="user-email" class="form-control">
                       <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched">
                           <p class="text-danger" *ngIf="resetForm.get('emil')?.getError('required')"> this required input</p>
                           <p class="text-danger" *ngIf="resetForm.get('email')?.getError('email')">enter valid email</p>
                           
                       </div>
       
                   </div>
                   <div class="col-md-12">
                       <label for="user-password" class="fw-bold">new Password</label>
                       <input formControlName="newPassword" type="password" id="user-password" class="form-control">
                       <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched">
                           <p class="text-danger" *ngIf="resetForm.get('newPassword')?.getError('required')"> this required input</p>
                           <p class="text-danger" *ngIf="resetForm.get('newPassword')?.getError('pattern')">enter valid password</p>
                           
                       </div>
       
                   </div>
                 
                  
       
                   <div>
                       <button class="btn bg-success text-light float-end my-3"  [disabled]="resetForm.invalid"><i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>Reset Password</button>
                       <!-- <a routerLink="/forgetpassword" class="text-main ">Reset Password ...</a> -->
                   </div>



                   <div class="mt-5">
                    <!-- <p class="text-muted"> I don't have an account <a routerLink="/signup" class="text-success">sign up</a></p> -->
        
                </div>
                 
               </div>
            
           </div>
       </form>
      
   
    </div>
   </section>
   
   
   
   
   
   

