<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img [src]="productDetails.imageCover" alt="" class="w-100">
               
                
            </div>
            <div class="col-md-9">
                <p>{{productDetails.title}}</p>
                <p>{{productDetails.description}}</p>
                <p>{{productDetails.price}}EGP</p>
                <button class="btn bg-main" (click)="addToMyCart(productDetails._id)">Add To Chart</button>
    
    
    
            </div>
        </div>
    </div>
    
</section>
