<div class="container py-5 forgetPassword">
   <form [formGroup]="forgetPassword" (ngSubmit)="sendCode(forgetPassword)">
    <div class="row">
        <div class="col-md-8">
            <div class="layer shadow p-5 bg-light">
                <label for="">email</label>
                <input formControlName="email" type="email" class="form-control">
                <p class="text-success">{{msgSuccess}}</p>
                <button class="btn bg-main  my-3">Send Code</button>

            </div>

        </div>
    </div>

   </form>
    

</div>





<div class="container py-5 verifyCode d-none">
    <form [formGroup]="verify" (ngSubmit)="verifyCode(verify)">
     <div class="row">
         <div class="col-md-8">
             <div class="layer shadow p-5 bg-light">
                 <label for="">code</label>
                 <input formControlName="resetCode" type="test" class="form-control">
                 <p class="text-success">{{msgSu}}</p>
                 <button class="btn bg-main  my-3">Send</button>
 
             </div>
 
         </div>
     </div>
 
    </form>
     
 
 </div>
